<div class="header">
    <div class="wrapper">
        <a href="#" class="logo">好好卖</a>
    </div>
</div>

<div class="investment">
    <p>
        <a href="/investment"><img alt="招商，好好卖诚招合作运营伙伴" title="招商，好好卖诚招合作运营伙伴" src="images/zhaoshang.png" width="1181" height="527" alt="" /></a>
        <span class="triangel"></span>
    </p>
</div>

<div class="box">
    <div class="wrapper clearfix">
        <div class="phone"><img src="images/phone.png" width="256" height="518" alt="" /></div>
        <div class="content">
            <p><img src="images/logo-big.png" width="195" height="296" alt="" /></p>
            <div class="clearfix download">
                <div class="fl">
                    <p><img src="images/ios.gif" width="230" height="230" alt="" /></p>
                    <a href="http://www.pgyer.com/oocC" class="ios"><span></span>IOS手机下载</a>
                </div>
                <div class="fr">
                    <p><img src="images/android.gif" width="230" height="230" alt="" /></p>
                    <a href="http://www.pgyer.com/NER9" class="android"><span></span>安卓手机下载</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="float-wechat ie">
    <div>
        <p class="contact">400-100-3521</p>
        <p>扫一扫关注好好卖</p>
    </div>
    <p><img src="images/wechat.gif" width="125" height="125" alt="" /> </p>
</div>