<div class="header">
    <div class="wrapper">
        <a href="#" class="logo">好好卖</a>
    </div>
</div>

<div class="wrapper">
    <div class="content">
        <p><img src="images/logo-big.png" width="217" height="329" alt=""/></p>

            <div class="clearfix download">
                <div class="fl">
                    <p><img src="images/ios.gif" width="255" height="255" alt=""/></p>
                    <a href="#" class="ios"><span></span>IOS手机下载</a>
                </div>
                <div class="fr">
                    <p><img src="images/android.gif" width="255" height="255" alt=""/></p>
                    <a href="#" class="android"><span></span>安卓手机下载</a>
                </div>
            </div>
    </div>
    <div class="phone"><img src="images/phone.png" width="284" height="575" alt=""/></div>
</div>

<div class="float-wechat ie">
    <div class="fl"><p class="contact">400-100-3521</p>
        <p>扫一扫关注好好卖</p>
    </div>
    <p class="fr"><img src="images/wechat.gif" width="139" height="139" alt=""/></p>
</div>