<div class="header-b clearfix">
    <div class="logo"><img src="images/logo.png" width="250" height="86" alt=""/></div>
    <div class="slogon">好好卖诚招合作运营伙伴<span>一个改造快消品传统供应链的互联网商机</span></div>
</div>

<div class="banner"></div>

<div class="content-b">
    <h2>好好卖是谁</h2>
    <p>浙江好好卖电子商务有限公司（以下简称：好好卖）成立于2014年12月，注册地浙江嘉兴，注册资金2000万，是互联网大潮催生的快消品供应链整合平台型公司。</p>
    <p>好好卖自成立以来一直致力于通过互联网平台整合传统快消品行业供应链，改造供求双方信息不透明、不对等的流通环节，发挥互联网的平台化优势紧抓生产厂商和终端商户的角色痛点，成为了快消品供应链改造的行业先行者。</p>
    <p>近一年多以来好好卖获得了飞速的发展，凭借立足于浙江嘉兴这个长三角腹地的优势，2015年度仅嘉兴一地的，好好卖平台拥有APP终端商户安装量30000+、本地合作厂商及供应商100+、年营业额超8000万。</p>
    <p>接下来的2016年是好好卖又一个飞速发展的年度，好好卖以“发展连锁，商业报国”的衷心，诚邀全国各地合作伙伴加入好好卖大家庭，与我们一起共赴互联网改造传统行业的经济大潮。期待您的加入！</p>
</div>

<div class="core">
    <p><img src="images/peitu.png" width="1172" height="1140" alt=""/></p>

</div>

<div class="partner">
    <h2>合作伙伴做什么</h2>
    <p>没错，你猜对了，就做我们的核心业务！</p>
    <span class="img"></span>

</div>

<div class="qualify">
    <div class="content-b">
        <h2 class="black">加盟资质</h2>
        <ol>
            <li>了解并热爱互联网创业，头脑灵活，有激情，有韧性（PS：互联网创业有点辛苦的哦！）</li>
            <li>如果能有快消品行业从业经验或者稍稍了解快消品行业就太好了</li>
            <li>有不错的亲和力（PS：20-60岁都聊得来的水平就行了）</li>
            <li>一身正气，能与快消品供应商进行正式的商务谈判（PS：这要求不高的，我看好你！）</li>
            <li>有创业思想和资金准备（PS：这个很重要哦！）</li>
        </ol>
    </div>
</div>

<div class="footer">
    <div class="content-b">
        <h2><span class="black">联系</span>我们</h2>
        <p>浙江好好卖电子商务有限公司</p>
        <p>地址：浙江省嘉兴市文贤路134号电子商务产业园内</p>
        <p>电话：0573-82810265(朝九晚五)</p>
        <p>手机：13967345957</p>
        <p><img src="images/logo1.png" width="159" height="241" alt=""/></p>
    </div>
</div>